<h1>Here are the list of Cats!</h1>
<% @allcats.each do |x| %>
    <%= x.name %>
<% end %>


<h1>Here are the list of Todos!</h1>
<% @allcats.each do |x| %>
    <%= x.tasks %>
<% end %>

<h1>Here are the list of Users!</h1>
<% @allusers.each do |x| %>
    <%= x.name %>
<% end %>
